    /* GLOBAL STYLES
-------------------------------------------------- */
    
    body {
        padding-bottom: 40px;
        color: #5a5a5a;
    }
    /* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
    
    .navbar {
        margin-bottom: 0;
        background-color: transparent;
        border-color: transparent;
    }
    
    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus,
    .navbar-inverse .navbar-nav>li>a,
    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus {
        color: white;
        font-size: 18px;
        font-family: "Open Sans Condensed", sans-serif;
    }
    
    .navbar-inverse .navbar-toggle,
    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        border-color: transparent;
        background-color: transparent;
    }
    
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: white;
    }
    
    .navbar-inverse .navbar-collapse {
        border-color: white;
    }
    
    @media (min-width: 768px) {
        .navbar-inverse .navbar-brand,
        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus,
        .navbar-inverse .navbar-nav>li>a,
        .navbar-inverse .navbar-nav>li>.navbar-btn,
        .navbar-inverse .navbar-nav>li>a:hover,
        .navbar-inverse .navbar-nav>li>a:focus {
            font-size: 22px;
        }
        .navbar .navbar-nav {
            float: right;
        }
        .top-link,
        .navbar-brand {
            margin-top: .55rem;
        }
    }
    
    @media (min-width: 992px) {
        .navbar-inverse .navbar-brand,
        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus,
        .navbar-inverse .navbar-nav>li>a,
        .navbar-inverse .navbar-nav>li>a:hover,
        .navbar-inverse .navbar-nav>li>a:focus {
            font-size: 26px;
        }
        .top-link,
        .navbar-brand {
            margin-top: .75rem;
        }
    }
    
    @media (min-width: 1200px) {
        .navbar-inverse .navbar-brand,
        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus,
        .navbar-inverse .navbar-nav>li>a,
        .navbar-inverse .navbar-nav>li>a:hover,
        .navbar-inverse .navbar-nav>li>a:focus {
            font-size: 30px;
        }
        .top-link,
        .navbar-brand {
            margin-top: 1.1rem;
        }
    }
    /* CUSTOMIZE THE MAIN IMAGE
-------------------------------------------------- */
    
    .logo {
        position: absolute;
        top: 60px;
    }
    
    @media (min-width: 768px) {
        .logo {
            top: 110px;
        }
    }
    
    @media (min-width: 992px) {
        .logo {
            top: 160px;
        }
    }
    
    @media (min-width: 1200px) {
        .logo {
            top: 200px;
        }
    }
    /* SECTIONS
------------------------- */
    
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .blue-section {
        background-color: rgb(51, 122, 183);
        color: white;
    }
    
    .carousel-image {
        border-radius: 10px;
    }
    
    .section {
        padding: 40px;
    }
    
    .section-divider {
        margin: 0 0 0 0;
    }
    
    .section-heading {
        margin-bottom: 1em
    }
    
    .lead {
        margin-bottom: 40px;
    }
    
    .section-heading,
    .coaches h2 {
        font-weight: 300;
    }
    
    .coaches .col-xs-10 {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .coaches .col-xs-10 p {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    @media (min-width: 768px) {
        .section-heading {
            font-size: 50px;
        }
    }
    
    @media (min-width: 992px) {
        .copy-left {
            padding-right: 3em;
        }
        .copy-right {
            padding-left: 3em;
        }
    }
    /* RANDOM STUFF
-------------------------------------------------- */
    
    .modal-header {
        background-color: rgb(51, 122, 183);
    }
    
    .modal-title {
        color: white;
    }
    
    .modal-header .close {
        color: white;
        opacity: 1;
    }
    
    .slick-dots li button::before {
        font-size: 20px;
        color: white;
    }
    
    .slick-dots li.slick-active button:before {
        color: white;
    }
    
    .contact-info a {
        text-decoration: none;
        color: white;
    }
    
    .social-media {
        font-size: 50px;
        overflow: auto;
        list-style-type: none;
        margin-bottom: 30px;
        padding: 0;
        text-align: left;
    }
    
    .social-media li {
        display: inline;
    }
    
    .social-media li a {
        text-decoration: none;
        color: white;
        /*color: #5a5a5a;*/
        padding-right: 20px;
    }
    
    footer .col-xs-12 {
        display: flex;
        justify-content: space-between;
    }
    
    .copyright {
        margin-top: 16px;
        font-size: 16px;
    }
    
    .store-link {
        margin-top: 16px;
        font-size: 16px;
        padding: 0;
        border: 0;
    }